{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ course.title }}{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> {% endblock css %}
{% block body %}
<div class="container mt-5">
    <div>
        <div>
            <img src="{{ course.preview.url }}" alt="" height="300px" width="auto">
        </div>
        <h1>{{ course.title }}</h1>
        <p>By {{ course.owner.username|title }}</p>
        <p>{{ course.description|safe }}</p>
        <p><strong>Level: {{ course.level }}</strong></p>
        <p><strong>Created at:</strong>{{ course.created|timesince }} ago</p>
        <p><strong>Updated at:</strong>{{ course.updated|timesince }} ago</p>
    </div>
    <a href="{% url 'core:module_add' course.slug %}" class="btn btn-outline-primary">Add Module</a>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for module in course.modules.all %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ module.title }} #{{ module.order }}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>{{ module.description|safe }}</strong>
              </div>

              <div class="accordion accordion-flush container" id="accordionFlushExample">
                {% for content in module.contents.all %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Content Title #{{ content.order }}
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>{{ content.contentText }}</strong>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>



            </div>
          </div>
        {% endfor %}
      </div>
</div>
{% endblock body %}