{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'user/css/style.css' %}"> {% endblock css %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 container mt-5">
            <img src="{{ profile.avatar.url }}" alt="{{ request.user.username }}" class="avatar">
            <p><strong>{{ request.user.get_full_name }}</strong></p>
            <p>@{{ request.user.username }}</p>
            <p>{{ request.user.email }}</p>
            <p>{{ profile.gender }}</p>
            <p>{{ profile.country }}</p>
            <p>{{ profile.phone }}</p>
            <p>Date Joined: {{ request.user.date_joined }}</p>
            <p>Last Login: {{ request.user.last_login }}</p>
            <p><strong>Bio</strong></p>
            <p>{{ profile.bio }}</p>
            <a href="{% url 'user:password_change' %}" class="btn btn-outline-danger" type="button">Change Password</a>
        </div>
        <div class="col-md-8">
            <h1 class="text-center">Profile</h1>
            <form action="" method="post" class="profile-form">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <input type="submit" value="Update" class="btn btn-outline-primary">
            </form>
        </div>
    </div>
</div>
{% endblock body %}